$sideBarWidth: 300px;

@mixin container {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.4);
}

@mixin menuItem($open) {
  position: relative;
  z-index: 3;
  cursor: pointer;
  height: 45px;
  padding: 0 15px;
  font-size: 17px;
  display: flex;
  align-items: center;

  .menuArrow {
    position: absolute;
    right: 20px;

    img {
      transition: background .3s cubic-bezier(.645, .045, .355, 1), transform .3s cubic-bezier(.645, .045, .355, 1), top .3s cubic-bezier(.645, .045, .355, 1), color .3s cubic-bezier(.645, .045, .355, 1);
    }

    @if $open {
      img {
        transform: rotate(0deg);
      }
    } @else {
      img {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin menuGroup($open: true) {
  .menuItem {
    @include menuItem($open);
  }

  .menuSubItem {
    @include menuItem($open);
    background-color: #f9f9f9;
  }

  .menuIcon {
    width: 40px;
    text-align: center;
  }

  .menuTitle {

  }
}

.disableContainer {
  @include container;
  width: 0;

  .menuWrap {
    left: calc($sideBarWidth * -1.05);
  }
}

.enableContainer {
  @include container;
  width: 100%;

  .menuWrap {
    left: 0;
  }
}

.menuWrap {
  position: relative;
  height: 100%;
  width: $sideBarWidth;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
  transition: all .3s, width .3s cubic-bezier(0, 0, 1, 1) .3s;

  .menuGroupOpened {
    @include menuGroup(true);
  }

  .menuGroupClosed {
    @include menuGroup(false);
  }
}



