.container {
  text-align: center;
}

.title {
  margin-top: 150px;
  font-size: 60px;
}

.titleDesc {
  margin-top: var(--default-top-margin);
  font-size: 35px;
}

.idDiv {
  margin-top: var(--default-top-margin);
}