.container {
  text-align: center;
  margin: 0 auto;
  width: 450px;
}

.title {
  margin-top: 150px;
  font-size: 48px;
}

.titleDesc {
  margin-top: var(--default-top-margin);
  font-size: 28px;
}

.idDiv {
  margin-top: var(--default-top-margin);

  input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input ::after {
    border: 2px solid var(--color-2);
  }
}

.passwordDiv {
  margin-top: -1px;

  input{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.keepLoginDiv {
  margin-top: var(--default-top-margin);
  display: flex;
}

.keepLoginLabel {
  margin-left: 6px;
  font-size: 15px;

  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  cursor: pointer;
}

.buttonDiv {
  margin-top: var(--default-top-margin);
}