.container {
  text-align: center;
  margin: 0 auto;
  padding: 14px 0;
  width: 100%;
  min-height: 600px;

  .circleButtonWrap {
    position: fixed;
    right: 14px;
    bottom: 150px;
  }

  .todoGroupListWarp {
    display: flex;
    justify-content: center;
    column-gap: 14px;
    row-gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;

    .todoGroupItem {
      position: relative;

      .todoWrap {
        padding: 17px 23px;
        overflow-y: auto;
        width: 330px;
        height: 215px;
        box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
        background-color: #fff;
        border-radius: 30px;
        cursor: pointer;
      }

      .modifyModeWrap {
        display: flex;
        padding: 15px;
        align-items: center;
        justify-content: center;

        input {
          width: 50%;
        }
        
        div {
          cursor: pointer;
        }
      }

      .todoGroupTitle {
        margin-top: 25px;
      }

      .moreButtonWrap {
        cursor: pointer;
        position: absolute;
        right: 40px;
        bottom: 0;
      }

      .moreWrap {
        position: absolute;
        right: 55px;
        bottom: 34px;
        width: 60px;
        z-index: 3;
        background-color: #ffffff;
        border: 1px solid #000000;
        box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);

        div {
          cursor: pointer;
        }
      }
    }
  }
}
