.container {
  text-align: center;
  margin: 0 auto;
  padding: 14px 0;
  width: 100%;
  min-height: 600px;

  .circleButtonWrap {
    position: fixed;
    right: 14px;
    bottom: 150px;
  }

  .todoGroupListWarp {
    display: flex;
    justify-content: center;
    column-gap: 14px;
    row-gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;

    .todoGroupItem {
      .todoWrap {
        padding: 17px 23px;
        overflow-y: auto;
        width: 330px;
        height: 215px;
        box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
        background-color: #fff;
        border-radius: 30px;
        cursor: pointer;
      }

      .todoGroupTitle {
        margin-top: 25px;
      }
    }
  }
}
