$sideMenuWidth: 300px;

@mixin container {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0, 0.4);
}

@mixin iArrow {
  position: absolute;
  right: 15px;
  width: 6px;
  height: 1.5px;
  background-color: currentcolor;
  border-radius: 2px;
  transition: background .3s cubic-bezier(.645, .045, .355, 1), transform .3s cubic-bezier(.645, .045, .355, 1), top .3s cubic-bezier(.645, .045, .355, 1), color .3s cubic-bezier(.645, .045, .355, 1);
  content: "";
}

@mixin menuItem($open) {
  z-index: 3;
  cursor: pointer;
  height: 45px;
  padding: 0 15px;
  font-size: 17px;
  display: flex;
  align-items: center;

  i {
    position: absolute;
    right: 15px;
    transform: translate(0, -2px);
  }

  @if $open {
    i::after {
      @include iArrow;
      transform: rotate(45deg) translate(2.5px);
    }

    i::before {
      @include iArrow;
      transform: rotate(135deg) translate(2.5px);
    }
  } @else {
    i::after {
      @include iArrow;
      transform: rotate(225deg) translate(2.5px);
    }

    i::before {
      @include iArrow;
      transform: rotate(315deg) translate(2.5px);
    }
  }
}

@mixin menuGroup($open: true) {
  .menuItem {
    @include menuItem($open);
  }

  .menuSubItem {
    @include menuItem($open);
    background-color: #f9f9f9;
  }

  ul {
    transition: all .3s;
  }

  @if $open == false {
    ul {
      visibility: hidden;
      transition: all .3s;
    }
  }

  .menuIcon {
    width: 40px;
    text-align: center;
  }

  .menuTitle {

  }
}

.disableContainer {
  @include container;
  width: 0;

  .menuWrap {
    left: calc($sideMenuWidth * -1.05);
  }
}

.enableContainer {
  @include container;
  width: 100%;

  .menuWrap {
    left: 0;
  }
}

.menuWrap {
  position: relative;
  height: 100%;
  width: $sideMenuWidth;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);
  transition: all .3s, width .3s cubic-bezier(0, 0, 1, 1) .3s;

  .menuGroupOpened {
    @include menuGroup(true);
  }

  .menuGroupClosed {
    @include menuGroup(false);
  }
}



